---
layout: default
title: Events
years:
    - 2021
    - 2020
---
{% assign doclist = site.static_files | where_exp: "item", "item.path contains '/assets/archives/Events/'" %}

{% for year in page.years %}
    {% capture event_path %}/assets/archives/Events/{{ year }}/{% endcapture %}
    <ul>
        <h2>{{ year }}</h2>
        {% for doc in doclist %}
            {% if doc.name contains ".html" %}
                {% if doc.path contains event_path %}
                    <li><a href="{{ doc.path | absolute_url }}">{{ doc.path | replace: event_path }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}
